<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>


      <!-- bootstrap nav bar code -->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class="container-fluid">
         
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{'/'}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{'/aboutus/'}}">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{'/contactus/'}}">Contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../eventus.html">Events us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{'/feedback/'}}">Feedback</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./staff.html">staff</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="{{'/login/'}}">Login</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="{{'/Job/'}}">Job opportunities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{'/course/'}}">Our courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{'/registration/'}}">Registration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{'/login/'}}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{'/enquiry/'}}">Your query</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Courses
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Pyhton</a></li>
                  <li><a class="dropdown-item" href="#">Django</a></li>
                  <li><a class="dropdown-item" href="#">Java</a></li>
                  <li><a class="dropdown-item" href="#">Mern</a></li>
  
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="#">Specialized courses</a>
                  </li> -->
                </ul>
                <!-- </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li> -->
              </li>
            </ul>
  
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>

</body>
</html>