{%extends 'student/html/student_base.html'%}
{%block title%}
student details
{%endblock%}

{%block style%}
body{
    background-image: linear-gradient(to right,yellow,rgb(181, 25, 155));
  }
}
{%endblock%}

{%block content%}
{%if messages%}
{%for m in messages%}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{m}}</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{%endfor%}
{%endif%}


<div class="row justify-content-center mt-5">
    <div class="col-4 div-bg">

<form class="needs-validation" novalidate method="post" action="/student/edit_profile/">
        {% csrf_token %}

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="txtemail" value="{{user.email}}">
      <div class="invalid-feedback">
        please provide email
      </div>
      </div>
      
      <div class="mb-3">
      <label for="exampleInputname" class="form-label">First Name</label>
      <input type="text" required class="form-control" id="exampleInputname" aria-describedby="nameHelp" name="txtfirstname" value="{{user.first_name}}">
      <div class="invalid-feedback">
        please enter your first name
      </div>
      </div>
      
      <div class="mb-3">
      <label for="exampleInputname" class="form-label">Last Name</label>
      <input type="text" required class="form-control" id="exampleInputname" aria-describedby="nameHelp" name="txtlastname" value="{{user.last_name}}">
      <div class="invalid-feedback">
        please enter your last name
      </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>

{%endblock%}